* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --hover1: rgb(0 0 0 / 0.1);
  --gray: hsl(0, 0%, 42%);
  --footer: hsl(0, 0%, 7%);
  --blue: hsl(228, 45%, 44%);
  --onerem: clamp(1rem, 2.5vw, 2.5rem);
}

@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
  background: var(--yellow);
  font-family: "figtree", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

article {
  background: var(--white);
  max-width: 25rem;
  width: 100%;
  border: 0.1em solid var(--black);
  border-radius: var(--onerem);
  padding: var(--onerem);
  box-shadow: 6px 8px 0px var(--black);
}

article:hover {
  transform: translate(-0.625rem);
  transition: transform 0.3s ease-in-out;
  box-shadow:
    0 0.625rem var(--onerem) 0 var(--hover),
    0 4px 6px 0em var(--hover);
}

.header-info-img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: block;
}

h1 {
  font-size: var(--onerem);
  background: var(--yellow);
  display: inline-block;
  padding: 0.1875rem 0.375rem;
  border-radius: 0.1875rem;
  margin-top: var(--onerem);
}

p {
  font-size: var(--onerem);
  margin: var(--onerem) 0 var(--onerem);
}
.main-info p {
  font-size: var(--onerem);
  color: var(--gray);
  font-weight: 500;
}

.card-footer {
  display: flex;
  align-items: center;
  color: var(--footer);
  font-weight: 800;
  gap: 10px;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: var(--black);
}
.attribution a {
  color: var(--blue);
}
